* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #ffffff;
  /* background-color: #0077c3; */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M1488 560L0 560 L0 294.87Q77.13 300%2c 72 377.14Q107.37 340.5%2c 144 375.87Q177.44 289.31%2c 264 322.76Q304.22 242.98%2c 384 283.2Q432.43 259.63%2c 456 308.06Q543.65 275.72%2c 576 363.37Q629.19 296.56%2c 696 349.75Q769.96 303.71%2c 816 377.67Q826.97 316.64%2c 888 327.61Q915.9 283.51%2c 960 311.42Q987.14 266.56%2c 1032 293.7Q1117.43 259.13%2c 1152 344.57Q1192.31 264.88%2c 1272 305.18Q1320.51 281.69%2c 1344 330.21Q1385.24 299.45%2c 1416 340.7Q1433.73 286.43%2c 1488 304.16z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 389.09Q81.41 350.5%2c 120 431.91Q169.19 361.11%2c 240 410.3Q286.51 336.81%2c 360 383.33Q401.05 352.38%2c 432 393.42Q514.07 355.49%2c 552 437.56Q570.94 384.5%2c 624 403.45Q678.79 338.24%2c 744 393.02Q805.95 382.97%2c 816 444.91Q870.38 379.29%2c 936 433.66Q941.7 367.36%2c 1008 373.06Q1074.22 319.28%2c 1128 385.51Q1146.85 332.36%2c 1200 351.21Q1241.3 320.51%2c 1272 361.81Q1313.75 331.56%2c 1344 373.31Q1402.59 359.89%2c 1416 418.48Q1435.16 365.64%2c 1488 384.81z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 427.95Q69.22 425.17%2c 72 494.4Q80.9 431.3%2c 144 440.21Q170.27 394.48%2c 216 420.75Q276.81 409.56%2c 288 470.36Q331.28 393.64%2c 408 436.93Q500.48 409.41%2c 528 501.89Q539.83 441.72%2c 600 453.55Q669.98 403.53%2c 720 473.51Q795.64 429.15%2c 840 504.79Q877.63 422.42%2c 960 460.04Q1008.94 388.98%2c 1080 437.91Q1144.64 430.56%2c 1152 495.2Q1188.82 412.01%2c 1272 448.83Q1326.97 383.8%2c 1392 438.77Q1445.83 420.6%2c 1464 474.43z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 566.61Q43.98 490.59%2c 120 534.57Q165.66 508.24%2c 192 553.9Q203.96 493.86%2c 264 505.81Q329.42 451.23%2c 384 516.65Q447.86 508.51%2c 456 572.37Q481.49 525.86%2c 528 551.34Q556.1 507.44%2c 600 535.54Q647.21 462.75%2c 720 509.96Q750.28 468.24%2c 792 498.51Q894.64 481.15%2c 912 583.8Q947.28 499.08%2c 1032 534.36Q1074.87 457.23%2c 1152 500.09Q1196.27 472.36%2c 1224 516.62Q1302.22 474.85%2c 1344 553.07Q1389.92 527%2c 1416 572.92Q1457.46 542.38%2c 1488 583.84z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #2ad04b;
  border: 1px solid #00802f52;
  color: rgb(255, 247, 247);
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #5b14ac;
  border-color: #5b14ac;
}

